enable-pre-post-scripts=true
auto-install-peers=true
strict-peer-dependencies=false
@untitledui-pro:registry=https://pkg.untitledui.com
//pkg.untitledui.com/:_authToken=9fbc5c6d68bbb3a2b991e8787e73701d
@hugeicons-pro:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=3D451EF0-1A4C95D6-2B588618-91F80341

