@font-face {
  font-family: 'Haas Grotesk Text R Web';
  src: url('NeueHaasGroteskText(RoundDots)-65Medium-Web.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

.NeueHaasGroteskTextRoundDots-65Medium-Web {
  font-family: 'Haas Grotesk Text R Web';
  font-weight: 500;
  font-style: normal;
}
