@font-face {
	font-family: 'Haas Grotesk Text R Web';
	src: url('NeueHaasGroteskText(RoundDots)-66MediumItalic-Web.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	}

.NeueHaasGroteskTextRoundDots-66MediumItalic-Web {
	font-family: 'Haas Grotesk Text R Web';
	font-weight: 500;
	font-style: italic;
	}
