@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-46LightItalic-Web.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	}

.NeueHaasGroteskDisplayRoundDots-46LightItalic-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 400;
	font-style: italic;
	}
