@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-15XXThin-Web.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	}

.NeueHaasGroteskDisplayRoundDots-15XXThin-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 100;
	font-style: normal;
	}
