@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-56Italic-Web.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	}

.NeueHaasGroteskDisplayRoundDots-56Italic-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 500;
	font-style: italic;
	}
