@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-55Roman-Web.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	}

.NeueHaasGroteskDisplayRoundDots-55Roman-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 500;
	font-style: normal;
	}
