@font-face {
  font-family: 'Haas Grotesk Display R Web';
  src: url('NeueHaasGroteskDisplay(RoundDots)-96BlackItalic-Web.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

.NeueHaasGroteskDisplayRoundDots-96BlackItalic-Web {
  font-family: 'Haas Grotesk Display R Web';
  font-weight: 900;
  font-style: italic;
}
