@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-75Bold-Web.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	}

.NeueHaasGroteskDisplayRoundDots-75Bold-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 700;
	font-style: normal;
	}
