@font-face {
	font-family: 'Haas Grotesk Text R Web';
	src: url('NeueHaasGroteskText(RoundDots)-75Bold-Web.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	}

.NeueHaasGroteskTextRoundDots-75Bold-Web {
	font-family: 'Haas Grotesk Text R Web';
	font-weight: 700;
	font-style: normal;
	}
