@font-face {
  font-family: 'Haas Grotesk Display R Web';
  src: url('NeueHaasGroteskDisplay(RoundDots)-36ThinItalic-Web.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

.NeueHaasGroteskDisplayRoundDots-36ThinItalic-Web {
  font-family: 'Haas Grotesk Display R Web';
  font-weight: 300;
  font-style: italic;
}
