@font-face {
  font-family: 'Haas Grotesk Text R Web';
  src: url('NeueHaasGroteskText(RoundDots)-56Italic-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

.NeueHaasGroteskTextRoundDots-56Italic-Web {
  font-family: 'Haas Grotesk Text R Web';
  font-weight: 400;
  font-style: italic;
}
