@font-face {
  font-family: 'Haas Grotesk Display R Web';
  src: url('NeueHaasGroteskDisplay(RoundDots)-76BoldItalic-Web.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

.NeueHaasGroteskDisplayRoundDots-76BoldItalic-Web {
  font-family: 'Haas Grotesk Display R Web';
  font-weight: 700;
  font-style: italic;
}
