@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-16XXThinItalic-Web.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
	}

.NeueHaasGroteskDisplayRoundDots-16XXThinItalic-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 100;
	font-style: italic;
	}
