@font-face {
  font-family: 'Haas Grotesk Display R Web';
  src: url('NeueHaasGroteskDisplay(RoundDots)-65Medium-Web.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.NeueHaasGroteskDisplayRoundDots-65Medium-Web {
  font-family: 'Haas Grotesk Display R Web';
  font-weight: 600;
  font-style: normal;
}
