@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-25XThin-Web.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	}

.NeueHaasGroteskDisplayRoundDots-25XThin-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 200;
	font-style: normal;
	}
