@font-face {
	font-family: 'Haas Grotesk Display R Web';
	src: url('NeueHaasGroteskDisplay(RoundDots)-45Light-Web.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	}

.NeueHaasGroteskDisplayRoundDots-45Light-Web {
	font-family: 'Haas Grotesk Display R Web';
	font-weight: 400;
	font-style: normal;
	}
