@font-face {
  font-family: 'Haas Grotesk Text R Web';
  src: url('NeueHaasGroteskText(RoundDots)-55Roman-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.NeueHaasGroteskTextRoundDots-55Roman-Web {
  font-family: 'Haas Grotesk Text R Web';
  font-weight: 400;
  font-style: normal;
}
